.page {
    color: white;
    padding: 0 1rem;
    background: #ffffff;
}
.page__box {
    min-height: 120px;
    background: rgb(157, 11, 11);
    margin: 0 -1rem;
    font-size: 36px;
}
.page__content {
    height: 100vh;
    border-radius: 10px;
    margin-top: -2rem;
    background-color: white;
    color: black;
    font-size: 18px;
}


/**************************************** Dashboard Card ****************************************************/

.order-card {
    color: rgb(157, 11, 11);
}

.bg-c-blue {
    background-color: white;
    box-shadow: 2px 2px 20px 2px rgb(232, 232, 232);
    border-radius: 10px;
    border: none;
}

.bg-c-green {
    background-color: white;
    box-shadow:2px 2px 20px 2px rgb(232, 232, 232);
    border-radius: 10px;
    border: none;
}

.bg-c-yellow {
    background-color: white;
    box-shadow: 2px 2px 20px 2px rgb(232, 232, 232);
    border-radius: 10px;
    border: none;
}

.bg-c-pink {
    background-color: white;
    box-shadow: 2px 2px 20px 2px rgb(232, 232, 232);
    border-radius: 10px;
    border: none;
}

.card1:hover{
    background-color: rgb(157, 11, 11);
    color: #ffffff;
}
.fa fa:hover{
color: #ffffff;
}
.fa fa{
color: rgb(157, 11, 11);
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/* ******************************************************************* Chart */
.chartBox{
    background-color: rgb(255, 255, 255);
    box-shadow:2px 2px 20px 2px rgb(232, 232, 232);
    border-radius: 10px;
    border: none;
}

