<div class="side-nav-content">

    <ul class="nav-list">
        <li class="nav-list-item" routerLink="./Dashboard">
            <i class="fa-solid fa-house"></i>

            <span >
                <a  class="">Dashboard</a>
            </span>
        </li>
        <li class="nav-list-item" routerLink="./create-product">
            <i class="fa-solid fa-cart-shopping"></i>

            <span >
                <a  class="">Create-Product</a>
            </span>
        </li>
        <li class="nav-list-item" routerLink="./product-analytics">
            <i class="fa-solid fa-chart-simple"></i>

            <span >
                <a class="ms-1">Analytics</a>
            </span>
        </li>
    </ul>
    
</div>
