:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mat-drawer {
    width: 260px;
    /* background-color: #0f172a; */
    background-color: #681199;
}
.mat-drawer-container {
    height: 100%;
    background-color: white;
}
.logo {
    text-align: center;
}
.logo h2 {
    font-size: 30px;
}
.logo h3 {
    font-size: 18px;
}
.mat-icon {
    vertical-align: center;
    margin-right: 1rem;
}
.mat-divider {
    border-top-width: 2px;
    border-color: white;
}
.mat-list-item {
    /* color: #94a3b8; */
    color: #ffffff;
    font-size: 1rem;
    height: 44px;
    margin-bottom: 4px;
}
.mat-list-item ::ng-deep .mat-list-item-content {
    border-radius: 5px;
    margin: 0 8px;
}
.mat-list-item ::ng-deep .mat-list-item-content:hover {
    /* background-color: #2c3344; */
    background-color: #d7d0f4;;
    color: #681199;
}
.list-item-active {
    /* color: #f2f5f7; */
    color: #681199;
}
.list-item-active ::ng-deep .mat-list-item-content {
    background-color: #ffffff;
}
.list-item-active ::ng-deep .mat-list-item-contenthover {
    background-color: #ffffff;
    
}
.mat-subheader {
    color: #818cf8;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
}
.logo>h3{
        margin-top: -12;
    }
